html,body{
  margin:0;
  height:100%;
  font-family:sans-serif;
}

#searchBar{
  height:4%;
  display:flex;
  border-bottom:1px solid #ccc;
}

#searchInput{
  flex:1;
  border:none;
  padding:6px;
}

#searchBtn{
  width:50px;
  border:none;
}

#app{
  display:flex;
  height:96%;
}

#map{flex:1;}

#sidebar{
  width:320px;
  border-left:1px solid #ccc;
  padding:8px;
  overflow:auto;
  display:none;
}

@media(max-width:768px){
  #app{flex-direction:column;}
  #sidebar{width:100%;height:35%;}
  #map{height:65%;}
}

.pin{
  width:22px;
  height:22px;
  border-radius:50% 50% 50% 0;
  transform:rotate(-45deg);
}

#rateUI span{
  font-size:22px;
  cursor:pointer;
  opacity:0.3;
}

#rateUI .active{
  opacity:1;
}

.photo{
  width:60px;
  height:60px;
  object-fit:cover;
  margin:3px;
  cursor:pointer;
}
